body{

background:#080808;
color:white;
font-family:Arial;
text-align:center;

}



/* Título do jogo */

h1{

color:gold;
font-size:45px;

}




/* Botão principal */

#tapButton{

width:220px;
height:220px;

border-radius:50%;

font-size:80px;

background:gold;

border:none;

cursor:pointer;

box-shadow:0 0 30px gold;

}




button{

padding:15px;
margin:10px;

border-radius:12px;

cursor:pointer;

font-size:18px;

}




#ranking{

background:#151515;

border:2px solid gold;

border-radius:15px;

padding:15px;

width:300px;

margin:auto;

}